@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

body {
  font-family: "Public Sans", sans-serif;
}

header {
  overflow: hidden;
  background-color: white;
  padding: 30px 50px;
}

header.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 55px;
}

.cabecalho .logo,
.cabecalho .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 48px;
}

.logo h1 {
  font-size: 2rem;
  font-weight: 800;
}

.cabecalho .menu ul li {
  margin-right: 20px;
}

.btn {
  background: #5bc241;
  width: 130px;
  height: 40px;
  text-align: center;
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
}

.menu a {
    color: black;
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    line-height: 18px;
    border-radius: 0px;
  }

  .menu ul li {
    list-style: none;
    display: inline-block;
  }